/*==============================================================================
  # VARIABLES
==============================================================================*/
/*==============================================================================
  # MIXINS
==============================================================================*/
/*==============================================================================
  # GENERAL
==============================================================================*/
*:active, *:focus, *:hover, *:visited {
    outline: none !important;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #2d3039;
  }
  
  body {
    margin: 0;
    min-height: 100%;
    max-width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  @media (max-width: 1024px) {
    body {
      overflow-y: scroll;
      /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }
  }
  
  a {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #1d1d26;
  }
  
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
  
  .sr .case__background,
  .sr .case__whitecard {
    visibility: hidden;
  }
  
  @media (min-width: 1025px) {
    .hide--large {
      display: none;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .hide--medium {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .hide--small {
      display: none;
    }
  }
  
  .muskify__section {
    padding: 100px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  @media (max-width: 600px) {
    .muskify__section {
      padding: 100px 40px;
    }
  }
  
  .muskify__inner {
    max-width: 1240px;
    width: 100%;
  }
  
  .muskify__title {
    font-size: 40px;
    font-size: 4rem;
    margin: 0 0 16px;
    text-align: center;
  }
  
  .muskify__subtext {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: #8a8a8a;
    margin: 0;
    max-width: 550px;
    width: 100%;
    text-align: center;
  }
  
  .muskify__btn {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    border: 2px solid #17b9e6;
    font-size: 16px;
    font-size: 1.6rem;
    z-index: 3;
    color: #17b9e6;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 50px;
    border-radius: 27px;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    line-height: 40px;
    min-height: 40px;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  .muskify__btn:hover {
    background-color: #17b9e6;
    color: #fff;
  }
  
  .muskify__btn--full {
    background-color: #17b9e6 !important;
    color: #fff;
  }
  
  .navbar-activator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  
  .navbar-activator.active + .navbar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  /*==============================================================================
    # HERO
  ==============================================================================*/
  .hero {
    position: relative;
    background-color: #fafafa;
    height: 100%;
    height: 90vh;
    min-height: 600px;
    max-height: 900px;
    max-width: 100%;
    max-width: 100vw;
    padding: 100px 48px;
    overflow-x: hidden;
  }
  
  @media (max-width: 1024px) {
    .hero {
      height: auto;
      max-height: initial;
      padding: 160px 24px 96px 24px;
    }
  }
  
  .hero__background-decoration {
    position: absolute;
    z-index: 0;
    top: -450px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    margin-left: -600px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: #796fc1;
    background: linear-gradient(45deg, #796fc1 0%, #838beb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d52aa', endColorstr='#796fc1',GradientType=1 );
  }
  
  @media (max-width: 1145px) {
    .hero__background-decoration {
      top: -450px;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      margin-left: -450px;
    }
  }
  
  @media (max-width: 1024px) {
    .hero__background-decoration {
      position: absolute;
      top: -650px;
      left: 50%;
      width: 1600px;
      min-width: 1600px;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      margin-left: auto;
    }
  }
  
  .hero__inner {
    max-width: 1240px;
  }
  
  @media (max-width: 1024px) {
    .hero__left-side {
      margin-bottom: 96px;
    }
  }
  
  .hero__header {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    z-index: 3;
    max-width: 1336px;
    padding: 0 48px;
    margin: 0 auto;
  }
  
  @media (max-width: 1024px) {
    .hero__header {
      padding: 0 24px;
    }
  }
  
  .hero__logo-text {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.4rem;
    cursor: default;
  }
  
  @media (max-width: 600px) {
    .hero__logo-text {
      margin: 0 auto;
    }
  }
  
  .hero__header-link {
    color: #1d1d26;
    margin: 0 16px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 8px 0;
    opacity: 0;
    position: relative;
    top: 0;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    -webkit-animation: fadeInUp87 0.5s 1.25s cubic-bezier(0.6, 0.2, 0.1, 1) forwards;
    animation: fadeInUp87 0.5s 1.25s cubic-bezier(0.6, 0.2, 0.1, 1) forwards;
  }
  
  .hero__header-link:first-child {
    margin-left: 0;
  }
  
  .hero__header-link:last-child {
    margin-right: 0;
  }
  
  .hero__header-link:nth-child(2) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  
  .hero__header-link:nth-child(3) {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s;
  }
  
  .hero__header-link:nth-child(4) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  
  .hero__header-link:hover {
    color: #796fc1;
  }
  
  @media (max-width: 1024px) {
    .hero__header-link {
      color: #ffffff;
    }
    .hero__header-link:hover {
      color: #1d1d26;
    }
  }
  
  .hero__title {
    max-width: 450px;
    font-size: 40px;
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    opacity: 0.87;
    width: 100%;
    position: relative;
    margin: 0 0 32px;
    -webkit-animation: fadeInRight 0.5s 1s ease-in-out forwards;
    animation: fadeInRight 0.5s 1s ease-in-out forwards;
    opacity: 0;
  }
  
  @media (max-width: 1024px) {
    .hero__title {
      max-width: 440px;
      text-align: center;
    }
  }
  
  @media (max-width: 600px) {
    .hero__title {
      font-size: 34px;
      font-size: 3.4rem;
    }
  }
  
  .hero__title span {
    display: block;
    position: relative;
    opacity: 0;
  }
  
  .hero__title span:nth-child(1) {
    -webkit-animation: fadeInRight 0.5s 1s ease-in-out forwards;
    animation: fadeInRight 0.5s 1s ease-in-out forwards;
  }
  
  .hero__title span:nth-child(2) {
    -webkit-animation: fadeInRight 0.5s 1.25s ease-in-out forwards;
    animation: fadeInRight 0.5s 1.25s ease-in-out forwards;
  }
  
  .hero__title span:nth-child(3) {
    -webkit-animation: fadeInRight 0.5s 1.5s ease-in-out forwards;
    animation: fadeInRight 0.5s 1.5s ease-in-out forwards;
  }
  
  .hero__subtitle {
    font-size: 18px;
    font-size: 1.8rem;
    max-width: 430px;
    margin: 0 0 48px;
    opacity: 0;
    position: relative;
    color: #ffffff;
    -webkit-animation: fadeInUp53 0.5s 1.5s ease-in-out forwards;
    animation: fadeInUp53 0.5s 1.5s ease-in-out forwards;
  }
  
  @media (max-width: 1024px) {
    .hero__subtitle {
      text-align: center;
    }
  }
  
  .hero__download-now {
    -webkit-animation: fadeInUp 0.5s 1.75s ease-in-out forwards;
    animation: fadeInUp 0.5s 1.75s ease-in-out forwards;
    opacity: 0;
    position: relative;
    border-radius: 5px;
  }
  
  .hero__download-now img {
    max-width: 100%;
  }
  
  .hero__download-now:last-child {
    margin: 0 0 0 8px;
    -webkit-animation: fadeInUp 0.5s 1.85s ease-in-out forwards;
    animation: fadeInUp 0.5s 1.85s ease-in-out forwards;
  }
  
  @media (max-width: 1024px) {
    .hero__download-now:last-child {
      margin: 16px 0 0 0;
    }
  }
  
  .hero__download-now:active .hero__download-btn-wrapper {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  
  .hero__download-now:active .hero__download-btn-shadow {
    bottom: 6px;
  }
  
  .hero__download-btn-wrapper {
    position: relative;
    width: 220px;
    height: 64px;
    -webkit-transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .hero__download-btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 1;
    border-radius: 32px;
    overflow: hidden;
  }
  
  .hero__download-btn img {
    width: auto;
    height: auto;
    max-height: 52px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
        user-select: none;
  }
  
  @media (max-width: 600px) {
    .hero__download-btn img {
      max-height: 48px;
    }
  }
  
  .hero__download-btn-shadow {
    position: absolute;
    z-index: 0;
    background-color: #000;
    -webkit-box-shadow: 0 8px 16px #1d1d26;
            box-shadow: 0 8px 16px #1d1d26;
    opacity: 0.32;
    bottom: 2px;
    top: 24px;
    left: 36px;
    right: 36px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .hero__cta-btn {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeInRight 0.5s 1.5s ease-in-out forwards;
    animation: fadeInRight 0.5s 1.5s ease-in-out forwards;
  }
  
  .hero__iphone {
    z-index: 2;
    max-width: 620px;
    width: 100%;
    max-height: 100%;
    position: relative;
    opacity: 0;
    top: 0;
    -webkit-animation: fadeInUp 0.5s 0.75s ease-in-out forwards;
    animation: fadeInUp 0.5s 0.75s ease-in-out forwards;
  }
  
  @media (max-width: 1024px) {
    .hero__iphone {
      margin-bottom: 48px;
    }
  }
  
  @media (max-width: 600px) {
    .hero__iphone {
      width: 160%;
    }
  }
  
  /*==============================================================================
    # FOOTER SECTION
  ==============================================================================*/
  .footer__container {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #2d3039;
    padding: 25px 50px;
    z-index: 10;
    position: relative;
  }
  
  .footer__text {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif;
    color: #7d869e;
    font-weight: 200;
    position: relative;
    margin: 8px 0;
  }
  
  @media (max-width: 600px) {
    .footer__text {
      margin: 16px 0;
    }
  }
  
  @media (min-width: 600px) {
    .footer__text span {
      margin-right: 5px;
    }
  }
  
  /*==============================================================================
    # ANIMATIONS
  ==============================================================================*/
  @-webkit-keyframes heroContentPop {
    0% {
      margin-right: -50%;
    }
    100% {
      margin-right: 0;
    }
  }
  
  @keyframes heroContentPop {
    0% {
      margin-right: -50%;
    }
    100% {
      margin-right: 0;
    }
  }
  
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  @-webkit-keyframes fadeInUp53 {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 0.53;
      top: 0;
    }
  }
  
  @keyframes fadeInUp53 {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 0.53;
      top: 0;
    }
  }
  
  @-webkit-keyframes fadeInUp87 {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 0.87;
      top: 0;
    }
  }
  
  @keyframes fadeInUp87 {
    0% {
      opacity: 0;
      top: 24px;
    }
    100% {
      opacity: 0.87;
      top: 0;
    }
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 48px;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 48px;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @-webkit-keyframes fadeInRight87 {
    0% {
      opacity: 0;
      left: 48px;
    }
    100% {
      opacity: 0.87;
      left: 0;
    }
  }
  
  @keyframes fadeInRight87 {
    0% {
      opacity: 0;
      left: 48px;
    }
    100% {
      opacity: 0.87;
      left: 0;
    }
  }
  
  @-webkit-keyframes fadeOutDown {
    0% {
      opacity: 1;
      top: 0;
    }
    100% {
      opacity: 0;
      top: 24px;
    }
  }
  
  @keyframes fadeOutDown {
    0% {
      opacity: 1;
      top: 0;
    }
    100% {
      opacity: 0;
      top: 24px;
    }
  }
  
  @-webkit-keyframes fadeOutRight {
    0% {
      opacity: 1;
      left: 0;
    }
    100% {
      opacity: 0;
      left: 48px;
    }
  }
  
  @keyframes fadeOutRight {
    0% {
      opacity: 1;
      left: 0;
    }
    100% {
      opacity: 0;
      left: 48px;
    }
  }
  /*# sourceMappingURL=main.css.map */