@font-face {
    font-family: "muskifyIcons";
    src: url("../fonts//muskifyIcons.eot");
    src: url("../fonts/muskifyIcons.eot") format("embedded-opentype"), url("../fonts/muskifyIcons.ttf") format("truetype"), url("../fonts/muskifyIcons.woff") format("woff"), url("../fonts/muskifyIcons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  .muskifyicons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "muskifyIcons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .active_bold:before {
    content: "\e900";
  }
  
  .active:before {
    content: "\e901";
  }
  
  .apple:before {
    content: "\e902";
  }
  
  .arrow:before {
    content: "\e903";
  }
  
  .arrowbold:before {
    content: "\e904";
  }
  
  .attention_bold:before {
    content: "\e905";
  }
  
  .attention:before {
    content: "\e906";
  }
  
  .bell_bold:before {
    content: "\e907";
  }
  
  .bell:before {
    content: "\e908";
  }
  
  .bold:before {
    content: "\e909";
  }
  
  .calendar_bold:before {
    content: "\e90a";
  }
  
  .calendar:before {
    content: "\e90b";
  }
  
  .camera_add_bold:before {
    content: "\e90c";
  }
  
  .camera_add:before {
    content: "\e90d";
  }
  
  .camera_bold:before {
    content: "\e90e";
  }
  
  .camera:before {
    content: "\e90f";
  }
  
  .category_education:before {
    content: "\e910";
  }
  
  .category_exercise:before {
    content: "\e911";
  }
  
  .category_family:before {
    content: "\e912";
  }
  
  .category_food:before {
    content: "\e913";
  }
  
  .category_friends:before {
    content: "\e914";
  }
  
  .category_relationship:before {
    content: "\e915";
  }
  
  .category_travelling:before {
    content: "\e916";
  }
  
  .category_work:before {
    content: "\e917";
  }
  
  .chat_bold:before {
    content: "\e918";
  }
  
  .chat:before {
    content: "\e919";
  }
  
  .check_bold:before {
    content: "\e91a";
  }
  
  .check:before {
    content: "\e91b";
  }
  
  .circle_bold:before {
    content: "\e91c";
  }
  
  .circle:before {
    content: "\e91d";
  }
  
  .close_bold:before {
    content: "\e91e";
  }
  
  .close:before {
    content: "\e91f";
  }
  
  .cloud_bold:before {
    content: "\e920";
  }
  
  .cloud:before {
    content: "\e921";
  }
  
  .compass_bold:before {
    content: "\e922";
  }
  
  .compass:before {
    content: "\e923";
  }
  
  .completed_bold:before {
    content: "\e924";
  }
  
  .completed:before {
    content: "\e925";
  }
  
  .courses_bold:before {
    content: "\e926";
  }
  
  .courses:before {
    content: "\e927";
  }
  
  .down_bold:before {
    content: "\e928";
  }
  
  .down:before {
    content: "\e929";
  }
  
  .droplet_bold:before {
    content: "\e92a";
  }
  
  .droplet:before {
    content: "\e92b";
  }
  
  .email_bold:before {
    content: "\e92c";
  }
  
  .email:before {
    content: "\e92d";
  }
  
  .face_angry:before {
    content: "\e92e";
  }
  
  .face_anxious:before {
    content: "\e92f";
  }
  
  .face_bad:before {
    content: "\e930";
  }
  
  .face_happy:before {
    content: "\e931";
  }
  
  .face_okay:before {
    content: "\e932";
  }
  
  .face_sad:before {
    content: "\e933";
  }
  
  .face_super:before {
    content: "\e934";
  }
  
  .facebook:before {
    content: "\e935";
  }
  
  .fire_bold:before {
    content: "\e936";
  }
  
  .fire:before {
    content: "\e937";
  }
  
  .focus_bold:before {
    content: "\e938";
  }
  
  .focus:before {
    content: "\e939";
  }
  
  .forgot_password_bold:before {
    content: "\e93a";
  }
  
  .forgot_password:before {
    content: "\e93b";
  }
  
  .gear_bold:before {
    content: "\e93c";
  }
  
  .gear:before {
    content: "\e93d";
  }
  
  .gender_bold:before {
    content: "\e93e";
  }
  
  .gender:before {
    content: "\e93f";
  }
  
  .groups_bold:before {
    content: "\e940";
  }
  
  .groups:before {
    content: "\e941";
  }
  
  .hand:before {
    content: "\e942";
  }
  
  .hands_up:before {
    content: "\e943";
  }
  
  .headphones_bold:before {
    content: "\e944";
  }
  
  .headphones:before {
    content: "\e945";
  }
  
  .heart_bold_filled:before {
    content: "\e946";
  }
  
  .heart_bold:before {
    content: "\e947";
  }
  
  .heart_filled:before {
    content: "\e948";
  }
  
  .heart:before {
    content: "\e949";
  }
  
  .home_bold:before {
    content: "\e94a";
  }
  
  .home:before {
    content: "\e94b";
  }
  
  .image_bold:before {
    content: "\e94c";
  }
  
  .image:before {
    content: "\e94d";
  }
  
  .instagram:before {
    content: "\e94e";
  }
  
  .italic_bold:before {
    content: "\e94f";
  }
  
  .italic:before {
    content: "\e950";
  }
  
  .left_bold:before {
    content: "\e951";
  }
  
  .left:before {
    content: "\e952";
  }
  
  .line_graph_bold:before {
    content: "\e953";
  }
  
  .line_graph:before {
    content: "\e954";
  }
  
  .lists_bold:before {
    content: "\e955";
  }
  
  .lists:before {
    content: "\e956";
  }
  
  .location_bold:before {
    content: "\e957";
  }
  
  .location:before {
    content: "\e958";
  }
  
  .logout_bold:before {
    content: "\e959";
  }
  
  .logout:before {
    content: "\e95a";
  }
  
  .meal_bold:before {
    content: "\e95b";
  }
  
  .meal:before {
    content: "\e95c";
  }
  
  .menu_bold:before {
    content: "\e95d";
  }
  
  .menu:before {
    content: "\e95e";
  }
  
  .minus_bold:before {
    content: "\e95f";
  }
  
  .minus:before {
    content: "\e960";
  }
  
  .mood_angry:before {
    content: "\e961";
  }
  
  .mood_anxious:before {
    content: "\e962";
  }
  
  .mood_blessed:before {
    content: "\e963";
  }
  
  .mood_confused:before {
    content: "\e964";
  }
  
  .mood_down:before {
    content: "\e965";
  }
  
  .mood_good:before {
    content: "\e966";
  }
  
  .mood_happy:before {
    content: "\e967";
  }
  
  .mood_lucky:before {
    content: "\e968";
  }
  
  .mood_stressed:before {
    content: "\e969";
  }
  
  .more_bold:before {
    content: "\e96a";
  }
  
  .more:before {
    content: "\e96b";
  }
  
  .mouse_bold:before {
    content: "\e96c";
  }
  
  .mouse:before {
    content: "\e96d";
  }
  
  .navigate_bold:before {
    content: "\e96e";
  }
  
  .navigate:before {
    content: "\e96f";
  }
  
  .padlock_round_locked_bold:before {
    content: "\e970";
  }
  
  .padlock_round_locked:before {
    content: "\e971";
  }
  
  .padlock_round_unlocked_bold:before {
    content: "\e972";
  }
  
  .padlock_round_unlocked:before {
    content: "\e973";
  }
  
  .padlock_square_locked_bold:before {
    content: "\e974";
  }
  
  .padlock_square_locked:before {
    content: "\e975";
  }
  
  .pause_filled:before {
    content: "\e976";
  }
  
  .pause:before {
    content: "\e977";
  }
  
  .peace:before {
    content: "\e978";
  }
  
  .pen_add_bold:before {
    content: "\e979";
  }
  
  .pen_add:before {
    content: "\e97a";
  }
  
  .pen_bold:before {
    content: "\e97b";
  }
  
  .pen_edit_bold:before {
    content: "\e97c";
  }
  
  .pen_edit:before {
    content: "\e97d";
  }
  
  .pen:before {
    content: "\e97e";
  }
  
  .phone_bold:before {
    content: "\e97f";
  }
  
  .phone:before {
    content: "\e980";
  }
  
  .pie_bold:before {
    content: "\e981";
  }
  
  .pie:before {
    content: "\e982";
  }
  
  .pin_bold:before {
    content: "\e983";
  }
  
  .pin:before {
    content: "\e984";
  }
  
  .play_filled:before {
    content: "\e985";
  }
  
  .play:before {
    content: "\e986";
  }
  
  .plus_bold:before {
    content: "\e987";
  }
  
  .plus:before {
    content: "\e988";
  }
  
  .present_bold:before {
    content: "\e989";
  }
  
  .present:before {
    content: "\e98a";
  }
  
  .profile_add_bold:before {
    content: "\e98b";
  }
  
  .profile_add:before {
    content: "\e98c";
  }
  
  .profile_bold:before {
    content: "\e98d";
  }
  
  .profile:before {
    content: "\e98e";
  }
  
  .muskify:before {
    content: "\e98f";
  }
  
  .refresh_bold:before {
    content: "\e990";
  }
  
  .refresh:before {
    content: "\e991";
  }
  
  .right_bold:before {
    content: "\e992";
  }
  
  .right:before {
    content: "\e993";
  }
  
  .search_bold:before {
    content: "\e994";
  }
  
  .search:before {
    content: "\e995";
  }
  
  .settings_bold:before {
    content: "\e996";
  }
  
  .settings:before {
    content: "\e997";
  }
  
  .share_bold:before {
    content: "\e998";
  }
  
  .share:before {
    content: "\e999";
  }
  
  .small_line_graph_bold:before {
    content: "\e99a";
  }
  
  .small_line_graph:before {
    content: "\e99b";
  }
  
  .snapchat:before {
    content: "\e99c";
  }
  
  .sort_bold:before {
    content: "\e99d";
  }
  
  .sort:before {
    content: "\e99e";
  }
  
  .squiggle_bold:before {
    content: "\e99f";
  }
  
  .squiggle:before {
    content: "\e9a0";
  }
  
  .star_bold:before {
    content: "\e9a1";
  }
  
  .star:before {
    content: "\e9a2";
  }
  
  .sun_bold:before {
    content: "\e9a3";
  }
  
  .sun:before {
    content: "\e9a4";
  }
  
  .sunrise_bold:before {
    content: "\e9a5";
  }
  
  .sunrise:before {
    content: "\e9a6";
  }
  
  .thumb_down_bold:before {
    content: "\e9a7";
  }
  
  .thumb_up_bold:before {
    content: "\e9a8";
  }
  
  .time_refresh_bold:before {
    content: "\e9a9";
  }
  
  .time_refresh:before {
    content: "\e9aa";
  }
  
  .trashcan_bold:before {
    content: "\e9ab";
  }
  
  .trashcan:before {
    content: "\e9ac";
  }
  
  .twitter:before {
    content: "\e9ad";
  }
  
  .up_bold:before {
    content: "\e9ae";
  }
  
  .up:before {
    content: "\e9af";
  }
  
  .username_bold:before {
    content: "\e9b0";
  }
  
  .username:before {
    content: "\e9b1";
  }
  
  .watch_bold:before {
    content: "\e9b2";
  }
  
  .watch:before {
    content: "\e9b3";
  }
  
  .weather_bold:before {
    content: "\e9b4";
  }
  
  .weather:before {
    content: "\e9b5";
  }
  /*# sourceMappingURL=style.css.map */