
<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="Description"
        content="Muskify - Você finalmente organizado">
    <link rel="icon" href="muskify.ico" type="image/png">

    <title>muskify - Você finalmente organizado</title>

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="styles/flexbox.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

    <link rel="canonical" href="https://www.instagram.com/muskify_app/">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-89120161-1');
        gtag('config', 'AW-792975669');
    </script>

    <!-- Google conversion tracking -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };

            gtag('event', 'conversion', {
                'send_to': 'AW-792975669/HrkfCOiVxZoBELWyj_oC',
                'event_callback': callback
            });
            return false;
        }
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1617496164932943');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1617496164932943&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Snap Pixel Code -->
    <script type='text/javascript'>
        (function (e, t, n) {
            if (e.snaptr) return;
            var a = e.snaptr = function () {
                a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments)
            };
            a.queue = [];
            var s = 'script';
            r = t.createElement(s);
            r.async = !0;
            r.src = n;
            var u = t.getElementsByTagName(s)[0];
            u.parentNode.insertBefore(r, u);
        })(window, document,
            'https://sc-static.net/scevent.min.js');

        snaptr('init', '84e7eba4-59dd-46cf-ac71-fbee8bdbf98c', {});
        snaptr('track', 'PAGE_VIEW');
    </script>
    <!-- End Snap Pixel Code -->

    <!-- TikTok Pixel Code -->
    <script>
        (function () {
            var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true;
            ta.src = document.location.protocol + '//' + 'static.bytedance.com/pixel/sdk.js?sdkid=BM0E6BFPH5LM9IN7KQ4G';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ta, s);
        })();
    </script>
    <!-- End TikTok Pixel Code -->
</head>

<body>

    <!-- HERO SECTION -->
    <div class="fullwidth hero" id="hero" layout="row" layout-align="center center">

        <div class="hero__background-decoration"></div>

        <div class="fullwidth hero__header" layout="row" layout-align="start center" layout-align-sm="center center">
            <h1 class="hero__logo-text">muskify</h1>
            <span flex></span>
        </div>

        <div class="fullwidth hero__inner" layout="row" layout-md="column" layout-align="center center"
            layout-align-md="start center">

            <div class="fullwidth hero__left-side" layout="column" layout-align="start start"
                layout-align-md="start center">
                <h1 class="hero__title">Você finalmente organizado</h1>
                <p class="hero__subtitle">O melhor aplicativo de produtividade pessoal para estudantes. Muskifique-se!
                    <br />

                <div class="fullwidth hero__div" layout="column" layout-align="start start"
                    layout-align-md="start center" name="signupForm">

                    <div fullwidth layout="row" layout-md="column" layout-align="start center">
                        <a href="https://www.instagram.com/muskify_app/"
                            class="hero__download-now" onclick="return clickedAppleDownload();">
                            <div class="hero__download-btn-wrapper">
                                <div class="hero__download-btn-shadow"></div>
                                <div class="hero__download-btn" layout="row" layout-align="center center">
                                    <img src="app-store-download.png" alt="App Store Download">
                                </div>
                            </div>
                        </a>
                        <a href="https://www.instagram.com/muskify_app/"
                            class="hero__download-now" onclick="return clickedAndroidDownload();">
                            <div class="hero__download-btn-wrapper">
                                <div class="hero__download-btn-shadow"></div>
                                <div class="hero__download-btn" layout="row" layout-align="center center">
                                    <img src="google-play.png" alt="Google Play Download">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="fullwidth hero__right-side" layout="column" layout-align="center end"
                layout-align-md="center center">
                <img src="screens.png" alt="Muskify Screens" class="hero__iphone" />
            </div>

        </div>
    </div>
    <section class="fullwidth footer__container" id="footer" layout="row" layout-align="center center">
        <div class="muskify__inner" layout="row" layout-sm="column" layout-align="start start" layout-align-sm="start center">
            <a class="footer__text hide--large hide--medium" href="https://www.instagram.com/muskify_app/">@muskify_app</a>
            <a class="footer__text hide--large hide--medium" href="https://www.instagram.com/muskify_app/"><i class="fa fa-instagram" id="insta" aria-hidden="true" style="color: white"></i></a>
        
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

            <div class="fullwidth" layout="column" layout-align="start start" layout-align-sm="start center">
                <p class="footer__text">Feito por alunos do ITA</p>
            </div>
            <span flex></span>
            <a class="footer__text hide--small" href="https://www.instagram.com/muskify_app/"> <i class="fa fa-instagram" id="insta" aria-hidden="true" style="color: white"> </i></a>
            <a class="footer__text hide--small" href="https://www.instagram.com/muskify_app/" style="margin-left: 8px;">@muskify_app </a>
        </a>

        </div>
    </section>
</body>

</html>
